<html ng-app="tabpolish" ng-csp="">
	<head>
		<link rel="stylesheet" type="text/css" href="http://code.angularjs.org/snapshot/angular-csp.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<div>
			<h2 class="title">TabPolish</h2>
			<div ng-controller="PrefManageController">
				<h3>Options</h3>				
				<div id="polish-options">
					<span ng-repeat="(pref, def) in prefs">
						<label ng-if="def.type === 'checkbox'">
							<input type="{{def.type}}" ng-model="def.value"> {{def.label}}
						</label>
					</span>
				</div>
				<button
					ng-disabled="!prefsHaveChanged()"
					ng-click="resetPrefs()"
					type="button"
					class="btn btn-default">
					Cancel
				</button>					
				<button
					ng-disabled="!prefsHaveChanged()"
					ng-click="savePrefs()"
					type="button"
					class="btn btn-primary">
					Save
				</button>				
			</div>
			<div ng-controller="TabManageController">
				<h3>Move Tabs to Window</h3>
				<div id="active-tabs">
					<form>
						<label ng-repeat="tab in ourWindow.tabs" class="tab-description">
							<input type="checkbox" ng-model="tab.moveDesired">
							<span>
								<span
									ng-if="tab.pinned"
									title="this tab is pinned"
									class="glyphicon glyphicon-pushpin"
									aria-hidden="true">
								</span>
								{{tab.title}}
								<small class="subtext">{{tab.url}}</small>
							</span>
						</label>
					</form>
				</div>
				<div id="active-windows">
					<select
						class="form-control input-sm"
						ng-model="newWindow"
						ng-options="tab.windowId as tab.title for tab in movableWindowTabs">
					</select>
				</div>
				<button
					class="btn btn-default"
					type="button"
					ng-click="toggleAllSelect()">
					{{allSelected ? "Deselect All Tabs" : "Select All Tabs"}}
				</button>				
				<button
					class="btn btn-primary"
					ng-disabled="!tabsSelectedForMove()"
					ng-click="moveTabs()"
					type="button"
					id='move-to-window'>
					Move to Window
				</button>
			</div>
		</div>

		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>