div.app {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 500px;
  max-height: 600px;
  background: rgb(249, 249, 249);
  overflow-y: hidden;
  line-height: normal !important;
}
h2.title {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  font-family: monospace;
  font-weight: 700;
  align-self: center;
}
h2.title img.logo {
  height: 32px;
  width: 32px;
}
