body {
  padding: 5px;
  width: 500px;
  max-height: 600px;
  background: rgb(249, 249, 249);
  overflow-y: hidden;
  line-height: normal !important;
}
label {
  font-weight: 500;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
button:hover:not(:disabled),
input[type="checkbox"]:hover:not(:disabled),
select:hover:not(:disabled) {
  cursor: pointer;
}
