#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  font-weight: 500;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
}
button:hover:not(:disabled),
input[type="checkbox"]:hover:not(:disabled),
select:hover:not(:disabled) {
  cursor: pointer;
}
