#polish-options {
  background: #fff;
  padding: 0 5px 0 5px;
  margin-bottom: 5px;
  border: 1px solid #cfd5db;
}
#polish-options label {
  display: block;
}
#polish-options label:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}
#polish-options label:hover {
  color: gray;
  cursor: pointer;
}
