#polish-options-wrapper {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
}
#polish-options-wrapper button,
#polish-options-wrapper #help a,
#polish-options-wrapper #help a:hover {
  color: #000 !important;
  font-size: 10pt;
}
#polish-options-wrapper .button-open {
  text-decoration: underline;
}
#polish-options-wrapper .button-close-align {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
}
#polish-options {
  left: 0;
  right: 0;
  z-index: 4;
  width: 12em;
  position: absolute;
  display: block;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  background: #fff;
  padding: 0 5px 0 5px;
  margin-bottom: 5px;
  border: 1px solid #cfd5db;
}
#polish-options label {
  display: block;
}
#polish-options label:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}
#polish-options label:hover {
  color: gray;
  cursor: pointer;
}
