#tab-controls {
  display: flex;
  min-height: 200px;
  flex-direction: column;
}
#tab-controls h4.title {
  align-self: center;
  margin-bottom: 5px;
  font-size: 14pt;
}
#active-windows {
  margin-bottom: 6px;
}
#active-tabs form {
  border: 1px solid #cfd5db;
  padding: 0 5px 0 5px;
  background: #fff;
  max-height: 600px;
  overflow-y: auto;
}
#active-tabs label.tab-description {
  display: block;
  max-width: 600px;
}
#active-tabs label.tab-description:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}
#active-tabs label.tab-description:hover {
  color: rgb(128, 128, 128);
  cursor: pointer;
}
#active-tabs label {
  cursor: pointer;
}
#select-all-tabs {
  margin-right: 5px;
  margin-left: 6px;
}
#active-tabs label.tab-description:hover img.favicon {
  opacity: 0.6;
}
#active-tabs label.tab-description img.favicon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
#active-tabs label.tab-description small.subtext {
  display: block;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#active-tabs label.tab-description span {
  vertical-align: top;
}
#tab-control-buttons,
#active-windows {
  display: flex;
  justify-content: space-between;
}
#tab-control-buttons .btn,
#move-to-window,
#select-window,
#sort-tabs-by,
#sort-tabs {
  flex-basis: 49%;
}
